
** {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background: #71b955 url('../img/Frijoles.jpeg') bottom;
    background-size: cover;
    font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

h1{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
 font-size: 2em;  color: rgba(212, 26, 73, 0.836);
  text-shadow: 1px 1px 2px rgba(5, 5, 0, 0.877);
}
 
.Board .memory-Loteria{
  
  width: 1100px;
  height: 800px;
  background: linear-gradient(160deg, #48d648 0%, #bd3210 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(228, 230, 146, 0.945);
  display:flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-Loteria{
  width: 1100px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 10000px;
 
}
 

 .memory-Loteria .memory-card {  

  width: calc(16% - 10px);
  height: calc(24 - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(109, 107, 107, 0.3)
}

.memory-card:active {
  transform: scale(0.85);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 3px;
  position: absolute;
  border-radius: 5px;
  background: rgba(212, 26, 73, 0.836);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

footer p {
  padding: 0;
  padding-bottom: 0;
}

.left,
.right,
.left a:hover,
.right a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color:rgba(212, 26, 73, 0.836);
  text-align: left;
  text-decoration: none;
}

.left a,
.right a {
  color: #bff5c2;
  text-shadow: black;
  font-weight: 300;
}

.left {
  float: left;
  margin-left: -500px;
}

.right {
  float: right;
  margin-right: -510px;
}

.score-panel {
  text-align: left;
    width: 345px;
    margin-bottom: 10px;
  color: rgba(212, 26, 73, 0.836);
}

.score-panel .guitars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
  color: rgba(212, 26, 73, 0.836);
}

.score-panel .guitars li{
  list-style: none;
  display: inline-block;
  font-size: 1em;
}

.score-panel .timer {
  display: inline;
  position: absolute;
  left: 56%;
}
.score-panel .restart .fa {
  float: right;
  cursor: pointer;
  font-size: 2em;
  margin: 0 5px 0 0;
  padding: 0;
  display:inline;
}